body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff7f0;
    color: #2b2b2b;
}

header {
    background-color: #e36414;
    color: white;
    text-align: center;
    padding: 2rem;
}

nav {
    background-color: #c75100;
    padding: 1rem;
}

nav a:hover {
    color: #ffb703;
}

h2 {
    color: #e36414;
}

footer {
    background-color: #c75100;
    color: white;
}
